<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeisTech!HaloWeenNight</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="top_illust">
        <img class="flag_left" src="images/flag_left.png" alt="">
        <img class="flag_right" src="images/flag_right.png" alt="">
        <img class="haloween" src="images/haloween.png" alt="">
        <img class="ya-niro_right" src="images/ya-niro-right2.svg" alt="">
        <img class="ya-niro_left" src="images/ya-niro-left2.svg" alt="">
    </div>

    <ul class="rankings">
        <% @ranking_data.each_with_index do |x, i| %>
            <% if 0<=i and i <=4 %> 
        		<li class="ranking"><%=i+1 %>位　<span class="js-resize-text"><%=x[:name]  %>/<%=x[:team] %>班　</span><%=x[:score] %>個</li>
    		<% end %>
		<% end %>
    </ul>

    <ul class="subrankings">
        <% @ranking_data.each_with_index do |x, i| %>
            <% if 5<=i and i <=9 %> 
    		   	<li class="subranking"><%=i+1 %>位<br><span class="js-resize-text"><%=x[:name]  %>/<%=x[:team] %>班</span><br><%=x[:score] %>個</li>
    		<% end %>
		<% end %>
    </ul>

    <div class="images">
        <div class="result">
            <img src="images/result.png" alt="">
            <h2><%= @total_score %></h2>
        </div>
        <div class="logo">
        <img class="ghost" src="images/ghost.png" alt="">
        <img class="lit" src="images/lit-haloween.png" alt="">
        </div>
        <img class="house" src="images/house.png" alt="">
    </div>
    
    <button class="button" onmousedown="party.confetti(this)">Click me!</button>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
 <script src="./js/font.js"></script>
 <script>
    // import party from "party-js";

    function let_us_party_button() {
        party.confetti(this, {
            count: party.variation.range(20, 40),
        });
    }
    
    function let_us_party() {
        party.confetti(this, {
            count: party.variation.range(20, 40),
        });
    }
    
    document.querySelector(".button").addEventListener("click", let_us_party_button);
    
    window.addEventListener("load", function () {
        <%# if @total_score >= @target_score %>
            setInterval(let_us_party, 1000)
        <%# end %>
    })
 </script>
</body>

</html>